.con
    #game
        include pug_includes/timer-bar.pug
        .board
            - for(var i = 0; i < 12; i++)
                .cell
                    .hidden-number-container
                    .overlay
        include pug_includes/starting-page.pug
        include pug_includes/countdown-box.pug
