doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        #app
            #game-board
                #top-bar
                    .back-btn &lt;
                    .time-display 2:00
                - for (var i = 0; i < 6; i++)
                    .row
                        - for (var j = 0; j < 2; j++)
                            .cell
            #starting-page
                .difficulty-btn Easy
                    .start-option-container
                        #easy-btn Start
                        .keep-choosing-btn x
                .difficulty-btn Medium
                    .start-option-container
                        #medium-btn Start
                        .keep-choosing-btn x
                .difficulty-btn Hard
                    .start-option-container
                        #hard-btn Start
                        .keep-choosing-btn x
