doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        #app
            #game-board
                #top-bar
                    #back-btn.back-btn &lt;
                    .time-display 
                        .minutes 2 
                        | &colon;
                        .seconds 00
                - for (var i = 0; i < 6; i++)
                    .row
                        - for (var j = 0; j < 2; j++)
                            .cell
                                .inner-cell
                                    .back
                                    .front 
            #starting-page
                #easy-opt-btn.difficulty-btn 
                    .text Easy
                    .start-option-container
                        #easy-btn.start-game-btn Start
                        .keep-choosing-btn x
                #medium-opt-btn.difficulty-btn 
                    .text Medium
                    .start-option-container
                        #medium-btn.start-game-btn Start
                        .keep-choosing-btn x
                #hard-opt-btn.difficulty-btn 
                    .text Hard
                    .start-option-container
                        #hard-btn.start-game-btn Start
                        .keep-choosing-btn x
            #win-loss-box
                .rel
                    .underlay 
                    .box 
                        .alert You win ! 
                        #play-again-btn play again
            #confirm-exit-box
                .rel
                    .underlay
                    .box
                        .prompt-text Are you sure that you want to exit?
                        .btns-container
                            #exit-yes-btn Yes
                            #exit-no-btn No
