.con
    #game
        .timer-container
            button.start-timer start timer
            .time-display 
                .minutes 3
                | &nbsp;minutes&comma;&nbsp;
                .seconds 00 
                | &nbsp;seconds remaining
        .board
            - for(var i = 0; i < 12; i++)
                .cell
                    .hidden-number-container
                    .overlay
        include pug-includes/starting-page.pug
