#starting-page
    .difficulty-options-container
        label(for="easy")
            input(type="radio" name="difficulty-options" value="easy" id="easy-radio-btn")
            | easy
        label(for="medium")
            input(type="radio" name="difficulty-options" value="medium" id="medium-radio-btn")
            | medium
        label(for="hard")
            input(type="radio" name="difficulty-options" value="hard" id="hard-radio-btn")
            | hard
    button#start-game-btn start game
