#countdown-box {
    display: none;
    &, .modal {
        justify-content: center;
        align-items: center;
    }
    padding: 40px;
    position: absolute;
    top: 0;
    left: 0;
    @extend %hun;
    .modal {
        display: flex;
        @extend %hun;
        background-color: lightgray;
    }
}
