#win-loss-alert-box {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    @extend %hun;
    background-color: white;
}
