#confirm-exit-box {
    position: absolute;
    top: 0;
    left: 0;
    @extend %hun;
    .rel {
        // padding: 40px;
        @extend %cxy;
        .underlay {
            // opacity: 0;
            opacity: 0.3;
            @extend %hun;
            position: absolute;
            top: 0;
            left: 0;
            background-color: white;
        }
        .box {
            display: flex;
            flex-direction: column;
            position: absolute;
            padding: 40px;
            font-size: 30px;
            background-color: #000;
            color: white;
            max-width: calc(100vw - 80px);
            .prompt-text {
                margin-bottom: 20px;
            }
            .btns-container {
                display: flex;
                justify-content: center;    
                width: 100%;
                #exit-yes-btn { margin-right: 20px; }
                #exit-yes-btn,
                #exit-no-btn {
                    display: inline-block;
                    padding: 10px;
                    background-color: blue;
                }
            }
        }
    }
}
