#game-board {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    @extend %hun;
    padding: $gap;
    opacity: 0;
    .row {
        display: flex;
        @extend %hun;
        margin-bottom: $gap;
        &:last-child { margin: 0; }
        .cell {
            &:nth-child(odd) { margin-right: $gap; }
            @extend %hun;
            perspective: calc(100vh / 6);
            .inner-cell {
                position: relative;
                @extend %hun;
                // transition: transform ease 300ms;
                -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
                .front, .back {
                    position: absolute;
                    @extend %hun;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                }
                .front {
                    background-color: white;
                }
                .back {
                    @extend %cxy;
                    background-color: gray;
                    transform: rotateX(180deg);
                }
            }
        }
    }
}
