* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html, body {
   width: 100%;
   height: 100vh;
}

.con {
   width: 100%;
   height: 100%;
}

%hun {
   width: 100%;
   height: 100%;
}

$cell-size: 100px;
#game {
   .board {
       padding: 10px;
       display: inline-grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       grid-gap: 10px;
       .cell {
           position: relative;
           width: $cell-size;
           height: $cell-size;
           background-color: grey;
           overflow: hidden; // opt
           .hidden-number-container, .overlay {
               position: absolute;
               top: 0;
               left: 0;
               @extend %hun;
           }
           .hidden-number-container {
               display: flex;
               justify-content: center;
               align-items: center;
               background-color: white;
           }
           .overlay {
               background-color: black;
               opacity: 0.3;
           }
       }
   }
}


#timer-bar {
    display: flex;
    width: 100%;
    justify-content: center;
    .unit-container {
        display: flex;
    }
    .unit-container:first-child {
        margin-right: 20px;
    }
}

#starting-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    @extend %hun;
    background-color: white;
    .difficulty-options-container {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

#countdown-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    @extend %hun;
    background-color: white;
}
