* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html, body {
   width: 100%;
   height: 100vh;
}

.con {
   width: 100%;
   height: 100%;
}

%hun {
   width: 100%;
   height: 100%;
}

$cell-size: 100px;
#game {
    .timer-container {
        display: flex;
        align-items: center;
        padding: 10px;
        width: 100%;
        button.start-timer {
            padding: 5px;
            border: 1px solid black;
            background-color: transparent;
            margin-right: 20px;
        }
        .time-display {
            display: flex;
        }
    }
   .board {
       padding: 10px;
       display: inline-grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       grid-gap: 10px;
       .cell {
           position: relative;
           width: $cell-size;
           height: $cell-size;
           background-color: grey;
           overflow: hidden; // opt
           .hidden-number-container, .overlay {
               position: absolute;
               top: 0;
               left: 0;
               @extend %hun;
           }
           .hidden-number-container {
               display: flex;
               justify-content: center;
               align-items: center;
               background-color: white;
           }
           .overlay {
               background-color: black;
               opacity: 0.3;
           }
       }
   }
}
